{% extends 'index.html' %}

{% block content %}

{% if error %}
<p class="text-center text-danger fs-1">
 {{error}}
</p>
<br />

{% endif %}

 {% comment %} <div class="bg-image"
style="background-image: url('https://wallpapercave.com/wp/X49EwD0.jpg');
      height: 100vh">  {% endcomment %}
     </br>
     <div class="d-flex justify-content-center">
     
      <img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvvPxwp4uuPxM0IXEE8vxXJ-Ujg5kVeHGZNA&usqp=CAU"
  class="img-fluid rounded-circle"
  alt=""
/>
</div>
<div class-"container">    
<h1 class="text-center text-success">Create</h1>
<!-- ectype use to send data to database using form -->
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
 <div class="container border border-dark rounded-3">
         <section class="mx-auto my-4" style="max-width: 31rem;">
{% csrf_token %}

 </br>
<p class="form-label text-primary text-center" for="user">Full Name</p>

  <input placeholder="Full Name" type="text" id="body"  name="name"  class="form-control" placeholder="Complete Name" required autofocus>

 </br>
<p class="form-label text-primary text-center" for="user">Title</p>

  <input placeholder="Title" type="text" id="body"  name="title"  class="form-control validate" />


 </br>
<p class="form-label text-primary text-center" for="user">Body</p>

  <input placeholder="Body" type="text" id="body"  name="body"  class="form-control validate" />
 

 </br>
<p class="form-label text-primary text-center" for="user">Phone</p>

  <input placeholder="Phone" type="text" id="body"  name="phone"  class="form-control validate" />


 </br>
<p class="form-label text-primary text-center" for="user">Address</p>

  <input placeholder="Address" type="text" id="body"  name="address"  class="form-control validate" />

<br />

<div class="file-field input-field ">
      <div class="btn btn-outline-info" >
        <span>Product Image </span>
        <input type="file" name="itemimage" >
      </div>
      
    </div>
    </br>
<div class="file-field input-field ">
      <div class="btn btn-outline-secondary" >
        <span>Governmet Id </span>
        <input type="file" name="id" >
      </div>
     
    </div>
</br>
<div class="d-grid gap-2 col-6 mx-auto">

<input class="btn btn-success btn-rounded" type="submit" value="save product" />
</div>

{% comment %} <button type="button" class="btn btn-success btn-rounded">Success</button> {% endcomment %}
</form>
</div>
</div>

{% endblock %}