{% extends 'base.html' %}

{% block content %}

{% if error %}
<p class="text-center text-danger fs-1">
 {{error}}
</p>
<br />

{% endif %}

 {% comment %} <div class="bg-image"
style="background-image: url('https://wallpapercave.com/wp/X49EwD0.jpg');
      height: 100vh">  {% endcomment %}

<h1 class="text-center text-success">Create</h1>
<!-- ectype use to send data to database using form -->
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
<div class="container">
{% csrf_token %}

 </br>
<p class="form-label text-primary text-center" for="user">Full Name</p>
<div class="form-outline">
  <input type="text" id="body"  name="name"  class="form-control validate" />
  <label class="form-label" for="body">Full Name</label>
</div>
 </br>
<p class="form-label text-primary text-center" for="user">title</p>
<div class="form-outline">
  <input type="text" id="body"  name="title"  class="form-control validate" />
  <label class="form-label" for="body">title</label>
</div>
 </br>
<p class="form-label text-primary text-center" for="user">Body</p>
<div class="form-outline">
  <input type="text" id="body"  name="body"  class="form-control validate" />
  <label class="form-label" for="body">Body</label>
</div>
 </br>
<p class="form-label text-primary text-center" for="user">phone</p>
<div class="form-outline">
  <input type="text" id="body"  name="phone"  class="form-control validate" />
  <label class="form-label" for="body">phone</label>
</div>
 </br>
<p class="form-label text-primary text-center" for="user">Address</p>
<div class="form-outline">
  <input type="text" id="body"  name="address"  class="form-control validate" />
  <label class="form-label " for="body">Address</label>
</div>



<br />

<div class="file-field input-field ">
      <div class="btn btn-outline-info" >
        <span>Product Image </span>
        <input type="file" name="itemimage" >
      </div>
      
    </div>
    </br>
<div class="file-field input-field ">
      <div class="btn btn-outline-secondary" >
        <span>Governmet Id </span>
        <input type="file" name="id" >
      </div>
     
    </div>
</br>
<div class="d-grid gap-2 col-6 mx-auto">

<input class="btn btn-success btn-rounded" type="submit" value="save product" />>
</div>

{% comment %} <button type="button" class="btn btn-success btn-rounded">Success</button> {% endcomment %}
</form>
</div>

{% endblock %}