{% extends 'base.html' %}

{% block content %}

{% if error %}
<p class="text-danger fs-1">
 {{error}}
</p>
<br />

{% endif %}

{% comment %} <div class="bg-image"
style="background-image: url('https://wallpapercave.com/wp/X49EwD0.jpg');
      height: 100vh"> {% endcomment %}

<h1 class="text-center text-success">Create</h1>
<!-- ectype use to send data to database using form -->
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
 {% comment %} <i class="material-icons prefix">account_circle</i> {% endcomment %}
  <label for="name" class="text-info fw-bold fs-3">Full Name</label>
 
 <input placeholder="Full Name" name="name" id="name" type="text" class="validate">

<br />
<div class="input-field col s6">
<label for="title" class="text-info fw-bold fs-3">title</label>
 <input id="title" placeholder="title" name="title" type="text" class="validate">
          
</div>
<br />
<div class="input-field col s6">
<label for="body" class="text-info fw-bold fs-3">Body</label>
 <input id="body"placeholder="Body" name="body" type="text" class="validate">
          
</div>
<div class="input-field col s6">
  <label for="phone " class="text-info fw-bold fs-3">phone</label>
 <input id="body"  name="phone" type="text" class="validate">
        
</div>
<div class="input-field col s6">
<label for="address" class="text-info fw-bold fs-3">Address</label>
 <input id="body"  name="address" type="text" class="validate">
          
</div>


{% comment %} Item Image: {% endcomment %}
<br />
<div class="file-field input-field ">
      <div class="btn light-blue accent-3" >
        <span>Product Image </span>
        <input type="file" name="itemimage" >
      </div>
      <div class="file-path-wrapper" >
        <input class="file-path validate" type="text">
      </div>
    </div>
<div class="file-field input-field">
      <div class="btn red lighten-1" >
        <span>Governmet Id </span>
        <input type="file" name="id" >
      </div>
      <div class="file-path-wrapper" >
        <input class="file-path validate" type="text">
      </div>
    </div>

<input class="btn btn-outline-success" type="submit" value="save product" />
</form>

{% endblock %}