<!--Section: Block Content-->
{% comment %} sunn {% endcomment %}
{% extends 'base.html' %}

{% block content %}

<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
       src="{{ product.itemImage.url }}"
        alt="..."
        class="img-fluid"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ product.title }}</h3>
        <p class="card-text">
          Donated by {{ product.Name }}  <br/> {{ product.body }}</p>
        </p>
        <p class="card-text">
         
        </p>
      </div>
    </div>
  </div>
</div>
<!--Section: Block Content-->
{% endblock %}