{% extends 'base.html' %}

{% block content %}

{% for request in requests.all %}
<div class="container">
  <section class="mx-auto my-5" style="max-width: 25rem;">
     <div class="card text-center border border-primary shadow-0 "style="width: 18rem">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    {% comment %} <img src={{ product.itemImage.url }} class="img-fluid" /> {% endcomment %}
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>

  <div class="card-body">
  <h5 class="card-title">Request Made By: {{ request.name}} </h5>
  <hr>
<p class="card-text">Mobile No. {{ request.phone }}</p>
<p class="card-text">Request title: {{  request.title  }}</p>
<p class="card-text">Request body: {{ request.body }}</p>

  </div>
</div>
</div>
</section>

</div>
{% endfor %}

{% endblock %}