
{% extends 'base.html' %}

{% block content %}

{% if error %}
<p class="text-danger fs-1">
 {{error}}
</p>
<br />
<br />
{% endif %}

<h1 class="text-info fs-2 text-center">Create</h1>

<form method="POST" action="{% url 'needrequest' %}" enctype="multipart/form-data">
{% csrf_token %}
<p class="text-primary fs-2">Title</p>

<input type="text" name="title" />
<br />
<br />
<p class="text-primary fs-2"> Body </p>

<input type="text" name="body" />
<br />
<br />
<br />
<div class="d-grid gap-2 col-6 mx-auto">
<input class="btn btn-primary" type="submit" value="Add Product" />
</div>
</form>

{% endblock %}
