{% comment %}
{% extends 'base.html' %}
{% endcomment %}  
{% comment %}
{% block content %}
{% endcomment %} 
{% if user.is_authenticated %}
{% csrf_token %}
<a class="btn btn-sm btn-outline-danger " href="javascript:{document.getElementById('delete1').submit()}">delete request</a>
<form id="delete1" method="POST" action="{% url 'delete1' %}">
  {% csrf_token %}
  <input type="hidden" />
</form>
<div >
  {{request.title}}
</div>


    <h4> posted  by {{  user.Name }}</h4>


    <h4> PHONE {{  user.Phone }}</h4>

  
    <h4>{{ request.pub_date }}</h4>
    <h4>{{ user.city }}</h4>
    <h4>{{ user.state }}</h4>

    
<div class="row">
  <div class="col-8">
    <p>{{ request.body }}</p>
  </div>
</div>
{% comment %}
{% else %}
{% comment %} 
{% endcomment %}   
          
{% endif %}
{% comment %}
{% endblock %}
{% endcomment %}   
        