{% extends 'index.html' %}
{% if error %}
<p class="text-center text-danger fs-1">
 {{error}}
</p>
<br />

{% endif %}
<div class="row d-flex justify-content-center">

{% block content %}
<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem; height:50px">
     
<div class="card text-center border border-primary shadow-0 "style="width: 18rem">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
    </a>
  </div>

  <div class="card-body">
    <p  class="text-danger">Request id:{{request.id}}</p>
   <h5 class="card-title">Name Of requester :  {{ request.name}} </h5>
                  <p class="card-text">Mobile no. : {{ request.phone }}</p>
                  <p class="card-text">Request title : {{  request.title  }}</p>
                  <p class="card-text">Request body : {{ request.body }}</p>
                {% comment %} edit {% endcomment %}
                {% comment %} <a href="{% url 'edit' %}"><button type="button" class="btn btn-info btn"><i class="fas fa-eye"></i> Edit Request</button></a> {% endcomment %}
                  <a type="button" class="btn btn-danger" href="javascript:{document.getElementById('delete1').submit()}">DelRequest</a>
                  <form id="delete1" method="POST" action="{% url 'delete1' %}">
                  {% csrf_token %}
                  <input type="hidden" />
                  </form>
  </div>
  </section>
  </div>
</div>
</div>
{% endblock %}