
{% extends 'base.html' %}

{% block content %}
  {% csrf_token%}
  <div class="row">
    <div class="col m4">
      <div class="card">
        <div class="card-image">
          <img src="{{Profile.Username}}">
          <span class="card-title">{{Profile.Name}}</span>
        </div>
        <div class="card-content">
          <p>
         
          Your Name:{{Profile.Name}}
           <br/> 
          Your Userame: {{Profile.Name}}</p>
        </div>
        <br/> 
          Your Phone: {{Profile.Phone}}</p>
        <br/> 
          Your address: {{Profile.address}}</p>
        <br/> 
        <div class=" blue card-action">
          <a href="#">Edit </a>
        </div>
        <div class=" red card-action">
          <a href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>


  <input type="hidden">
</form>
{{Profile.Userimg}}

{% endblock %}
