{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between">
{% for product in products.all %}
<div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{ product.itemImage.url}}" alt="jeff">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.Name}}</h5>
                        <p class="card-text">{{ product.Address}}</p>
                        <p class="card-text">{{ product.Phone}}</p>
                        <p class="card-text">{{ product.body }}</p>
                        <a type="button" class="btn btn-success" href="javascript:{document.getElementById('donateto').submit()}">i wanrt to take it</a>
              
                    </div>
                </div>
            </div>
        </div> 
        </br>
        </br>
{% endfor %}
    </div> 
{% endblock %}