{% extends 'base.html' %}

{% block content %}
<p class="fs-1"> make sure you have made you profile first by clicking on the avator icon in nav bar </p>
{% for r in profile_set.all %}
<h2>Your Name:{{  r.Name }}</h2>
{% for ngo in products.all %} 
{% if r.city == ngo.city %} 
<div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{ product.itemImage.url}}" alt="jeff">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Ngo Name{{ ngo.Name}} </h5>
                        <p class="card-text">Ngo City{{ ngo.city }}</p>
                        <p class="card-text">Ngo State{{ ngo.state }}</p>
                        <p class="card-text">{{ ngo.Phone }}</p>
                       <a href="#" > <button class="btn btn-primary"> </button> </a>
                    </div>
                </div>
            </div>
        </div>  

        {% endif %} 
    {% endfor %}
{% endfor %}

{% endblock %}